<nav>
    <a href="/ticket" class="nav-link">Tickets</a>
    <a href="/ticket/create" class="nav-link">Créer Ticket</a>
    <a href="/user/signout" class="nav-link">Me déconnecter</a>
    <a href="/ticket/responsable" class="nav-link">Filtrer les tickets par responsable</a>
    <a href="/ticket/sansresponsable" class="nav-link">Voir les tickets sans responsable</a>
</nav>