<!DOCTYPE html>
<html lang="fr">
    <%- include('../shared/head', {css: ['navbar']}) %>
    <body>
        <nav>
            <a href="/user/login" class="nav-link">Sign in</a>
            <a href="/user/signup" class="nav-link">Sign up</a>
            <%if (connecte){%>
            <a href="/ticket">Voir les tickets</a>
            <a href="/user/signout">Se déconnecter</a>
            <%};%>
        </nav>
<main>
<h1>Bienvenue sur ce site de gestion de tickets</h1>
<p>Cliquez sur les liens de la barre de navigation pour vous inscrire ou vous connecter <%if (connecte){%>ou <a href="/ticket">voir les tickets</href><%};%></p>
</main>
    </body>
</html>